@model DoAn_CNPM.Models.DetailForm

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style=" width: 100%; ">
    <div class="tabular--wrapper">
        <div class="table-container">
            <h2 class="h2--title">CHI TIẾT ĐƠN KHÁM </h2>
            <hr />
            <dl class="row">
                <dt class=" col-sm-4">
                    Id đơn khám
                </dt>

                <dd class=" col-sm-8">
                    @Html.DisplayFor(model => model.FormId)
                </dd>

                <dt class=" col-sm-4">
                    Bác sĩ
                </dt>

                <dd class=" col-sm-8">
                    @Html.DisplayFor(model => model.Form.Doctor.FullName)
                </dd>

                <dt class=" col-sm-4">
                    Bệnh nhân
                </dt>

                <dd class=" col-sm-8">
                    @Html.DisplayFor(model => model.Form.Patient.FullName)
                </dd>

                <dt class=" col-sm-4">
                    Thời gian đến khám
                </dt>

                <dd class=" col-sm-8">
                    @Html.DisplayFor(model => model.Form.ExamTime)
                </dd>

                <dt class=" col-sm-4">
                    Nhân viên
                </dt>

                <dd class=" col-sm-8">
                    @Html.DisplayFor(model => model.Form.Staff.FullName)
                </dd>

                <dt class=" col-sm-4">
                    Ngày tạo đơn
                </dt>

                <dd class=" col-sm-8">
                    @Html.DisplayFor(model => model.Form.CreatedDay)
                </dd>

                <dt class=" col-sm-4">
                    Bảng giá khám
                </dt>

                <dd class=" col-sm-8">
                    @Html.DisplayFor(model => model.PriceList.PriceListName)
                </dd>

                <dt class=" col-sm-4">
                    Đơn giá
                </dt>

                <dd class=" col-sm-8">
                    @{
                        string formattedPrice = string.Format("{0:#,##0}", Model.PriceList.Price);
                        formattedPrice = formattedPrice.Replace(",", ".");
                    }

                    @Html.DisplayFor(modelItem => formattedPrice) VNĐ
                </dd>

                <dt class=" col-sm-4">
                    Số lượng
                </dt>

                <dd class=" col-sm-8">
                    @Html.DisplayFor(model => model.Quantity)
                </dd>

                <hr />

                <dt class=" col-sm-4">
                    Tổng tiền
                </dt>

                <dd class=" col-sm-8" style="color:red;font-weight:500">
                    @{
                        string formattedTotal = string.Format("{0:#,##0}", Model.TotalMoney);
                        formattedTotal = formattedTotal.Replace(",", ".");
                    }

                    @Html.DisplayFor(modelItem => formattedTotal) VNĐ
                </dd>

                <dt class=" col-sm-4">
                    Trạng thái khám
                </dt>


                @if (Model.IsExamined == true)
                {


                    <dd class=" col-sm-8 check-true">
                        Đã khám
                    </dd>
                }
                else
                {
                    <dd class=" col-sm-8 check-false">
                        Chưa khám
                    </dd>
                }



                <dt class=" col-sm-4">
                    Trạng thái thanh toán
                </dt>

                @if (Model.IsPaid == true)
                {


                    <dd class=" col-sm-8 check-true">
                        Đã thanh toán
                    </dd>
                }
                else
                {
                    <dd class=" col-sm-8 check-false">
                        Chưa thanh toán
                    </dd>
                }

            </dl>
        </div>
    </div>

    <div style="text-align:center; padding: 8px">
        <a href="@Url.Action("Edit", new { id = Model.DFId })" class="btn btn-edit"><i class="fa-regular fa-pen-to-square"></i></a>
    </div>
    <div class="back">
        <a href="~/DetailForms/Index" ><i class="fa-solid fa-arrow-left"></i></a>
    </div>
</div>