@model DoAn_CNPM.Models.DetailForm

@{
    ViewBag.Title = "CHI TIẾT ĐƠN KHÁM";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="f-detail">
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="~/DetailForms/Index">Chi tiết đơn khám</a></li>
                <li class="breadcrumb-item active" aria-current="page">Chi tiết</li>
            </ol>
        </nav>
    </div>
    <div class="tabular--wrapper">
        <div class="table-container">
            <h2 class="h2--title">@ViewBag.Title </h2>
            <hr />
            <dl class="row">
                @if (Model.FormId != null)
                {
                    <dt class=" col-sm-5">
                        Id Đơn khám
                    </dt>

                    <dd class=" col-sm-7">
                        @Html.DisplayFor(model => model.FormId)
                    </dd>


                }
                else
                {
                    <dt class=" col-sm-5">
                        Id Đơn khám Online
                    </dt>

                    <dd class=" col-sm-7">
                        @Html.DisplayFor(model => model.FOId)
                    </dd>
                }
                <dt class=" col-sm-5">
                    Bác sĩ
                </dt>

                <dd class=" col-sm-7">
                    @Html.DisplayFor(model => model.Form.Doctor.FullName)
                    @Html.DisplayFor(model => model.FormOnline.Doctor.FullName)
                </dd>

                <dt class=" col-sm-5">
                    Bệnh nhân
                </dt>

                <dd class=" col-sm-7">
                    @Html.DisplayFor(model => model.Form.Patient.FullName)
                    @Html.DisplayFor(model => model.FormOnline.FullName)
                </dd>

                @*<dt class=" col-sm-5">
                    Thời gian đến khám
                </dt>

                <dd class=" col-sm-7">
                    @try
                    {
                        if (Model.Form.ExamTime.HasValue)
                        {
                            @Model.Form.ExamTime.Value.ToString("dddd, dd-MM-yyyy HH:mm:ss", new System.Globalization.CultureInfo("vi-VN"))
                        }
                    }
                    catch
                    {
                        Response.Redirect("~/Error/Index");
                    }
                </dd>*@

                <dt class=" col-sm-5">
                    Nhân viên
                </dt>

                <dd class=" col-sm-7">
                    @Html.DisplayFor(model => model.Form.Staff.FullName)
                </dd>

                <dt class=" col-sm-5">
                    Ngày tạo đơn
                </dt>

                <dd class=" col-sm-7">
                    @Html.DisplayFor(model => model.Form.CreatedDay)
                    @Html.DisplayFor(model => model.FormOnline.CreatedDay)
                </dd>

                <dt class=" col-sm-5">
                    Dịch vụ khám
                </dt>

                <dd class=" col-sm-7">
                    @Html.DisplayFor(model => model.PriceList.PriceListName)
                </dd>

                <dt class=" col-sm-5">
                    Đơn giá
                </dt>

                <dd class=" col-sm-7">
                    @{
                        string formattedPrice = string.Format("{0:#,##0}", Model.PriceList.Price);
                        formattedPrice = formattedPrice.Replace(",", ".");
                    }

                    @Html.DisplayFor(modelItem => formattedPrice) VNĐ
                </dd>

                <dt class=" col-sm-5">
                    Số lượng
                </dt>

                <dd class=" col-sm-7">
                    @Html.DisplayFor(model => model.Quantity)
                </dd>

                <dt class=" col-sm-5">
                    Tổng tiền
                </dt>

                <dd class=" col-sm-7" style="color:red;font-weight:500">
                    @{
                        string formattedTotal = string.Format("{0:#,##0}", Model.TotalMoney);
                        formattedTotal = formattedTotal.Replace(",", ".");
                    }

                    @Html.DisplayFor(modelItem => formattedTotal) VNĐ
                </dd>

                <dt class=" col-sm-5">
                    Trạng thái khám
                </dt>


                @if (Model.IsExamined == true)
                {


                    <dd class=" col-sm-7 check-true">
                        Đã khám
                    </dd>
                }
                else
                {
                    <dd class=" col-sm-7 check-false">
                        Chưa khám
                    </dd>
                }

                <dt class=" col-sm-5">
                    Trạng thái thanh toán
                </dt>

                @if (Model.IsPaid == true)
                {


                    <dd class=" col-sm-7 check-true">
                        Đã thanh toán
                    </dd>
                }
                else
                {
                    <dd class=" col-sm-7 check-false">
                        Chưa thanh toán
                    </dd>
                }

            </dl>
        </div>
    </div>

    <div style="text-align:center; padding: 8px">
        <a href="@Url.Action("Edit", new { id = Model.DFId })" class="btn btn-edit"><i class="fa-solid fa-pen-to-square"></i></a>
    </div>
</div>