@model IEnumerable<DoAn_CNPM.Models.DetailForm>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style=" width: 100%; ">
    <h2 style="text-align: center; padding-top: 20px">CHI TIẾT ĐƠN KHÁM</h2>
    <hr />
    <div class="form-group form-inline" style="border: 3px solid #00E216; height: 70px; text-align: center; padding: 15px; ">
        @using (Html.BeginForm("Index", "DetailForms", FormMethod.Get))
        {
            <table>
                <tr>
                    <td>
                        @Html.ActionLink("Tạo mới", "Create", null, new { @class = "btn btn-success" })
                    </td>
                    <td style="padding-left:30px">
                        Tìm ID Đơn khám: <input type="text" name="SearchString" style="padding-right:8px" />
                        <span style="padding-right:16px"> </span>
                        Tìm tên bảng giá khám  : <input type="text" name="SearchString1" />
                        <input type="submit" value="Tìm kiếm" class="btn btn-info" style="color:white" />
                    </td>
                </tr>
            </table>
        }
    </div>
    <table class="table table-hover table-striped table-bordered">
        <tr>
            <th>
                STT
            </th>
            <th>
                ID Đơn khám
            </th>
            <th>
                Tên bảng giá khám
            </th>
            <th>
                SL
            </th>
            <th>
                Đơn giá
            </th>
            <th>
                Tổng tiền
            </th>
            <th>
                Trạng thái khám
            </th>
            <th>
                Chức năng khám
            </th>
            <th>
                Trạng thái thanh toán
            </th>
            <th>
                Chức năng thanh toán
            </th>
            <th>Chức năng Sửa - Xóa </th>
        </tr>

        @foreach (var item in Model)
        {
            decimal total = Convert.ToDecimal(item.Quantity * item.PriceList.Price);
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdDF)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdForm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriceList.NamePriceList)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @{
                        string formattedPrice = string.Format("{0:#,##0}", item.PriceList.Price);
                        formattedPrice = formattedPrice.Replace(",", ".");
                    }

                    @Html.DisplayFor(modelItem => formattedPrice) VNĐ
                </td>
                <td style="color:red">
                    @{
                        string formattedTotal = string.Format("{0:#,##0}", item.TotalMoney);
                        formattedTotal = formattedTotal.Replace(",", ".");
                    }

                    @Html.DisplayFor(modelItem => formattedTotal) VNĐ
                </td>
                <td>
                    @if (item.IsExamined == true)
                    {
                        <span style="color:forestgreen; font:italic"> <b>Đã thăm khám</b></span>
                    }
                    else
                    {
                        <span style="color:red"> <b>Chưa thăm khám</b></span>
                    }
                </td>
                <td style="color:white">
                    @using (Html.BeginForm("UpdateExaminedStatus", "DetailForms", new { id = item.IdDF }, FormMethod.Post))
                    {
                        <input type="submit" value="Xác nhận khám" class="btn btn-outline-success" />
                    }

                </td>
                <td>
                    @if (item.IsPaid == true)
                    {
                    <span style="color:forestgreen; font:italic "> <b>Đã thanh toán</b></span>
                    }
                    else
                    {
                        <span style="color:red"> <b>Chưa thanh toán</b></span>
                    }

                </td>
                <td style="color:white">
                    @using (Html.BeginForm("UpdatePaymentStatus", "DetailForms", new { id = item.IdDF }, FormMethod.Post))
                    {
                        <input type="submit" value="Thanh toán" class="btn btn-outline-success" />
                    }

                </td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.IdDF }, new { @class = "btn btn-warning", style = "color: white" })
                    @Html.ActionLink("Xóa", "Delete", new { id = item.IdDF }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
</div>
