@model DoAn_CNPM.Models.Staff

@{
    ViewBag.Title = "TẠO MỚI NHÂN VIÊN";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid f-create">
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="~/Staffs/Index">Nhân viên</a></li>
                <li class="breadcrumb-item active" aria-current="page">Tạo mới</li>
            </ol>
        </nav>
    </div>
    <div class="tabular--wrapper">
        <div class="table-container">
            <h2 style="text-align: center">@ViewBag.Title</h2>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-12">
                            <label>Họ tên Nhân viên</label>
                            @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <label>Giới tính</label>
                            @Html.DropDownList("Gender", ViewBag.Gender as SelectList, "Chọn giới tính", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-6">
                            <label> Số điện thoại</label>
                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <label> Chức vụ</label>
                            @Html.DropDownList("Position", ViewBag.Position as SelectList, "Chọn chức vụ", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row input-wrapper">
                        <input type="submit" value="Tạo" class="btn btn-success" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>
