@model DoAn_CNPM.Models.Staff

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style=" width: 50%; ">
    <h2 style="text-align: center">XÓA NHÂN VIÊN</h2>
    <div>

        <hr />
        <dl class="row">
            <dt class=" col-sm-4">
                Họ tên Nhân viên
            </dt>

            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.NameStaff)
            </dd>
            <br />
            <dt class=" col-sm-4">
                Số điện thoại
            </dt>

            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.PhoneStaff)
            </dd>
            <br />
            <dt class=" col-sm-4">
                Mail
            </dt>

            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.MailStaff)
            </dd>

            <dd style="text-align:center">
                <br />
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <input type="submit" value="Xóa" class="btn btn-danger" />
                }
            </dd>
        </dl>

        <div>
            @Html.ActionLink("Trở về", "Index")
        </div>
    </div>
</div>