@model DoAn_CNPM.Models.Category

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" style=" width: 50%; ">
    <h2 style="text-align: center">SỬA LOẠI BỆNH</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.IdCat)

    <div class="row">
        <div class="control-label col-md-4">
            Tên loại
        </div>

        <div class="col-md-8">
            @Html.EditorFor(model => model.NameCat, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NameCat, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-12" style="text-align:center">
            <input type="submit" value="Lưu" class="btn btn-primary" , style="color:white" />
        </div>
    </div>
</div>
    }

    <div>
        @Html.ActionLink("Trở về", "Index")
    </div>
</div>