@model IEnumerable<DoAn_CNPM.Models.Category>

@{
    ViewBag.Title = "PHÂN LOẠI BỆNH";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="f-index">
    <div class="tabular--wrapper">
        <h2 class="h2--title">@ViewData["Title"]</h2>
        <hr />
        <div class="nav--search">
            @using (Html.BeginForm("Index", "Categories", FormMethod.Get))
            {
                <table>
                    <tr>
                        <td>
                            <a href="@Url.Action("Create")" class="btn btn-createnew"><i class="fa-solid fa-plus"></i></a>
                        </td>
                        <td class="search--box">
                            <input type="text" name="SearchString" style="padding-right:8px" placeholder="Nhập thông tin tìm kiếm" />

                            <button type="submit" value=""><i class="fa-solid fa-magnifying-glass"></i></button>
                        </td>
                    </tr>
                </table>
            }
        </div>

        <div class="table-container">
            <table class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            Tên loại bệnh
                        </th>
                        <th>
                            Thao tác Sửa - Xóa
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CatId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CatName)
                            </td>

                            <td>
                                <a href="@Url.Action("Edit", new { id = item.CatId })" class="btn btn-edit"><i class="fa-regular fa-pen-to-square"></i></a>
                                <a href="@Url.Action("Delete", new { id = item.CatId })" class="btn btn-del"><i class="fa-regular fa-trash-can"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>