@model DoAn_CNPM.Models.PriceList

@{
    ViewBag.Title = "XÓA DỊCH VỤ KHÁM";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid f-edit">
    <div class="tabular--wrapper">
        <div class="table-container">
            <h2 class="h2--title">@ViewBag.Title </h2>
            <div>
                <hr />
                <dl class="row">
                    <dt class=" col-sm-4">
                        Tên bảng giá khám
                    </dt>

                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.PriceListName)
                    </dd>

                    <dt class=" col-sm-4">
                        Đơn giá
                    </dt>

                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Price)
                    </dd>

                    <dt class=" col-sm-4">
                        Tên loại bệnh
                    </dt>

                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Category.CatName)
                    </dd>

                    <dd class="col-12" style="text-align:center">
                        <br />
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <input type="submit" value="Xóa" class="btn btn-del" />
                        }
                    </dd>
                </dl>
            </div>
        </div>

    </div>
    <div class="back">
        <a href="~/PriceLists/Index"><i class="fa-solid fa-arrow-left"></i></a>
    </div>
</div>
