@model IEnumerable<DoAn_CNPM.Models.PriceList>

@{
    ViewBag.Title = "BẢNG GIÁ KHÁM";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="f-index">
    <div class="tabular--wrapper">
        <h2 class="h2--title">@ViewData["Title"]</h2>
        <hr />
        <div class="nav--search">
            @using (Html.BeginForm("Index", "PriceLists", FormMethod.Get))
            {
                <table>
                    <tr>
                        <td class="col sm-4">
                            <a href="@Url.Action("Create")" class="btn btn-createnew"><i class="fa-solid fa-plus"></i></a>
                        </td>
                        <td class="col sm-4 search--box">
                            <input type="text" name="SearchString" placeholder="Nhập thông tin tìm kiếm" />
                            <button type="submit" value="Tìm tổng tiền"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </td>
                    </tr>
                </table>
            }
        </div>

        <div class="table-container">
            <table class="table table-hover table-striped table-bordered">
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Tên bảng giá khám
                    </th>
                    <th>
                        Đơn giá
                    </th>
                    <th>
                        Phân loại bệnh
                    </th>
                    <th>Chức năng Sửa - Xóa</th>
                </tr>

                @foreach (var item in Model)
                {
                    decimal price = Convert.ToDecimal(item.Price);
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PriceListId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PriceListName)
                        </td>
                        <td class="price">
                            @price.ToString("#,##0").Replace(',', '.') VNĐ
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.CatName)
                        </td>

                        <td>
                            <a href="@Url.Action("Edit", new { id = item.PriceListId })" class="btn btn-edit"><i class="fa-regular fa-pen-to-square"></i></a>
                            <a href="@Url.Action("Delete", new { id = item.PriceListId })" class="btn btn-del"><i class="fa-regular fa-trash-can"></i></a>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>