@model DoAn_CNPM.Models.DiseaseStatisticList

@{
    ViewBag.Title = "CẬP NHẬT CHẨN ĐOÁN";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid f-edit">
    <div class="tabular--wrapper">
        <div class="table-container">
            <h2 class="h2--title">@ViewData["Title"]</h2>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.DSLId)
            <div class="row">
                <div class="control-label col-md-4">
                    Id đơn khám
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.FormId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FormId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="control-label col-md-4">
                    Chẩn đoán
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Dianose, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Dianose, "", new { @class = "text-danger" })
                </div>
            </div>

            <br/>

            <div class="row">
                <div class="col-12" style="text-align:center">
                    <input type="submit" value="Lưu" class="btn btn-primary" , style="color:white" />
                </div>
            </div>
        </div>
            }
        </div>
    </div>
    <div class="back">
        <a href="~/DiseaseStatisticLists/Index"><i class="fa-solid fa-arrow-left"></i></a>
    </div>
</div>
