@model IEnumerable<DoAn_CNPM.Models.DiseaseStatisticList>

@{
    ViewBag.Title = "CHẨN ĐOÁN BỆNH";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="f-index">
    <div class="tabular--wrapper">
        <h2 class="h2--title">MỤC CHẨN ĐOÁN BỆNH</h2>
        <hr />
        <div class="nav--search">
            @using (Html.BeginForm("Index", "DiseaseStatisticLists", FormMethod.Get))
            {
                <table>
                    <tr>
                        <td>
                            <a href="@Url.Action("Create")" class="btn btn-createnew"><i class="fa-solid fa-plus"></i></a>
                        </td>
                        <td class="search--box">
                            <input type="text" name="SearchString" placeholder="Nhập thông tin tìm kiếm" />
                            <button type="submit" value=""><i class="fa-solid fa-magnifying-glass"></i></button>
                        </td>
                    </tr>
                </table>
            }
        </div>


        <div class="table-container">
            <table class="table table-bordered table-hover table-striped ">
                <thead>
                    <tr>
                        <th>
                            Id Đơn chẩn đoán 
                        </th>
                        <th>
                            Id Đơn khám
                        </th>
                        <th>
                            Bệnh nhân
                        </th>
                        <th>
                            Bác sĩ
                        </th>
                        <th>
                            Chẩn đoán
                        </th>
                        <th>Thao tác Sửa - Xóa</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.DSLId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FormId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Form.Patient.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Form.Doctor.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Dianose)
                            </td>
                            <td>
                                <a href="@Url.Action("Edit", new { id = item.DSLId })" class="btn btn-edit"><i class="fa-regular fa-pen-to-square"></i></a>
                                <a href="@Url.Action("Delete", new { id = item.DSLId })" class="btn btn-del"><i class="fa-regular fa-trash-can"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>
