@model DoAn_CNPM.Models.DoctorSchedule

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DoctorSchedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DayOfWeek)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayOfWeek)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doctor.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doctor.FullName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DSId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
