@model DoAn_CNPM.Models.Form

@{
    ViewBag.Title = "TẠO MỚI ĐƠN KHÁM";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid f-create">
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="~/Forms/Index">Đơn khám</a></li>
                <li class="breadcrumb-item active" aria-current="page">Tạo mới</li>
            </ol>
        </nav>
    </div>
    <div class="tabular--wrapper">
        <div class="table-container">
            <h2 style="text-align: center">@ViewBag.Title</h2>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-12">
                            <label>Thời gian khám (Ngày + giờ)</label>
                            @{
                                string isoFormattedDate = DateTime.ParseExact(Model.ExamTime.ToString(), "ddd dd MM yyyy h:mm:ss tt", System.Globalization.CultureInfo.InvariantCulture).ToString("yyyy-MM-ddTHH:mm");
                            }
                            <input type="text" id="ExamTime" name="ExamTime" class="form-control" />
                            @Html.ValidationMessageFor(model => model.ExamTime, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <label>Bệnh nhân</label>
                            @Html.DropDownList("PatientId", ViewBag.PatientId as SelectList, "Chọn bệnh nhân", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PatientId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <label>Bác sĩ</label>
                            @Html.DropDownList("DoctorId", ViewBag.DoctorId as SelectList, "Chọn bác sĩ", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DoctorId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <label>Nhân viên</label>
                            @Html.DropDownList("StaffId", ViewBag.StaffId as SelectList, "Chọn nhân viên", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.StaffId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row input-wrapper">
                        <input type="submit" value="Tạo" class="btn btn-success" />
                    </div>

                </div>
            }
        </div>
    </div>
</div>