@model DoAn_CNPM.Models.Form

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style=" width: 50%; ">
    <h2 style="text-align: center;padding-top:16px">XÓA ĐƠN KHÁM</h2>
    <div class="row">
        <p style="color:red" class=" col-sm-2">Chú ý: </p>
        <p class="col-sm-8">Để xóa đơn khám phải xóa chi tiết đơn khám và chẩn đoán bệnh trước</p>
    </div>
    <div>

        <hr />
        <dl class="row">
            <dt class=" col-sm-4">
                Ngày khám
            </dt>

            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ExamTime)
            </dd>

            <br />

            <dt class=" col-sm-4">
                Tên Khách hàng 
            </dt>

            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Customer.NameCus)
            </dd>

            <br />

            <dt class=" col-sm-4">
                Tên Bác sĩ
            </dt>

            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Doctor.NameDoctor)
            </dd>

            <br />

            <dt class=" col-sm-4">
                Tên Nhân viên
            </dt>

            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Staff.NameStaff)
            </dd>

            <dd class="col-12" style="text-align:center">
                <br />
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <input type="submit" value="Xóa" class="btn btn-danger" />
                }
            </dd>
        </dl>

        <div>
            @Html.ActionLink("Trở về", "Index")
        </div>
    </div>
</div>
