@model IEnumerable<DoAn_CNPM.Models.Form>

@{
    ViewBag.Title = "THÔNG TIN ĐƠN KHÁM";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="f-index">
    <div class="tabular--wrapper">
        <h2 style="text-align: center">@ViewBag.Title</h2>
        <hr />
        <div class="nav--search">
            @using (Html.BeginForm("Index", "Forms", FormMethod.Get))
            {
                <table>
                    <tr>
                        <td>
                            <a href="@Url.Action("Create")" class="btn btn-createnew"><i class="fa-solid fa-plus"></i></a>
                        </td>
                        <td class="search--box">
                            <input type="text" name="SearchString" placeholder="Nhập thông tin tìm kiếm" />
                            <button type="submit" value=""><i class="fa-solid fa-magnifying-glass"></i></button>
                        </td>
                    </tr>
                </table>
            }
        </div>

        <div class="table-container">
            <table class="table table-hover table-striped table-bordered">
                <tr style="font-size:14px">
                    <th>
                        Id Đơn khám
                    </th>
                    <th>
                        Thời gian khám
                    </th>
                    <th>
                        Bệnh nhân
                    </th>
                    <th>
                        Bác sĩ
                    </th>
                    <th>
                        Nhân viên
                    </th>

                    <th>Chức năng Sửa - Xóa</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FormId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExamTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Patient.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Doctor.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Staff.FullName)
                        </td>

                        <td>
                            <a href="@Url.Action("Edit", new { id = item.FormId })" class="btn btn-edit"><i class="fa-regular fa-pen-to-square"></i></a>
                            <a href="@Url.Action("Delete", new { id = item.FormId })" class="btn btn-del"><i class="fa-regular fa-trash-can"></i></a>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>