@model DoAn_CNPM.Models.AdminUser

@{
    ViewBag.Title = "CẬP NHẬT THÔNG TIN ADMIN";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid f-edit">
    <div class="tabular--wrapper">
        <div class="table-container">
            <h2 style="text-align: center">@ViewBag.Title</h2>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Username)
                    <div class="row">
                        <div class="col-md-4">
                            Tên
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.NameAdminUser, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NameAdminUser, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            Giới tính (Nam hoặc nữ)
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            Hình ảnh
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            Vai trò
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Role, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            Mật khẩu
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12" style="text-align:center">
                            <input type="submit" value="Lưu" class="btn btn-primary" , style="color:white" />
                        </div>
                    </div>
                </div>
            }

            <br />
        </div>
    </div>
    <div class="back">
        <a href="~/AdminUsers/Index"><i class="fa-solid fa-arrow-left"></i></a>
    </div>
</div>
