@model IEnumerable<DoAn_CNPM.Models.AdminUser>

@{
    ViewBag.Title = "Thông tin cá nhân";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="f-index">
   
    <div class="tabular--wrapper">
        @if (Session["admin"] != null)
        {
            <h2 class="h2--title">@ViewData["Title"]</h2>
            <hr />
            <div class="d_flex">
                <div>
                    <img src="~/Images/@Session["AdminImg"]" class="img-avatar" alt="Hình ảnh" />
                </div>
                <div class="table-container">
                    <ul class="d_flex" style="width:500px">
                        <li>Username: </li>
                        <li>@Session["AdminUsr"].ToString()</li>
                    </ul>
                    <ul class="d_flex" style="width: 500px">
                        <li>Tên:</li>
                        <li>@Session["AdminName"]</li>
                    </ul>
                    <ul class="d_flex" style="width:500px">
                        <li>Vai trò:</li>
                        <li>@Session["AdminRole"]</li>
                    </ul>
                    <ul class="d_flex" style="width:500px">
                        <li>Giới tính:</li>
                        <li>@Session["AdminGender"]</li>
                    </ul>
                    <ul style="width:500px; text-align:center">
                        <a href="@Url.Action("Edit", new { id = Session["AdminUsr"].ToString().Trim() })" class="btn btn-edit"><i class="fa-regular fa-pen-to-square"></i></a>
                    </ul>
                </div>

            </div>
        }
        </div>
  
    </div>
