@model IEnumerable<DoAn_CNPM.Models.Doctor>

@{
    ViewBag.Title = "THÔNG TIN BÁC SĨ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="f-index">
    <div class="tabular--wrapper">
        <h2 class="h2--title">@ViewData["Title"]</h2>
        <hr />
        <div class="nav--search">
            @using (Html.BeginForm("Index", "Doctors", FormMethod.Get))
            {
                <table>
                    <tr>
                        <td>
                            <a href="@Url.Action("Create")" class="btn btn-createnew"><i class="fa-solid fa-plus"></i></a>
                        </td>
                        <td style="font-size:18px">
                            <a href="~/DoctorSchedules/Index">
                                <b>Lịch khám Bác sĩ</b>
                            </a>
                        </td>
                        <td class="search--box">
                            <input type="text" name="SearchString" placeholder="Nhập thông tin tìm kiếm" />
                            <button type="submit" value=""><i class="fa-solid fa-magnifying-glass"></i></button>
                        </td>
                    </tr>
                </table>
            }
        </div>
        <div>

           

        </div>
        <div class="table-container">
            <table class="table table-hover table-striped table-bordered">
                <tr>
                    <th>
                        Id
                    </th>

                    <th>
                        Họ tên Bác sĩ
                    </th>

                    <th>
                        Giới tính
                    </th>

                    <th>
                        Số điện thoại
                    </th>
                    <th>
                        Chuyên khoa
                    </th>
                    <th>Thao tác Sửa - Xóa</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DoctorId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gender)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Specialization)
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", new { id = item.DoctorId })" class="btn btn-edit"><i class="fa-regular fa-pen-to-square"></i></a>
                            <a href="@Url.Action("Delete", new { id = item.DoctorId })" class="btn btn-del"><i class="fa-regular fa-trash-can"></i></a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>