@model IEnumerable<DoAn_CNPM.Models.Doctor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style=" width: 100%; ">
    <h2 style="text-align: center; padding-top: 20px">THÔNG TIN BÁC SĨ</h2>
    <hr />
    <div class="form-group form-inline" style="border: 3px solid #00E216; height: 70px; text-align: center; padding: 15px; ">
        @using (Html.BeginForm("Index", "Doctors", FormMethod.Get))
        {
            <table>
                <tr>
                    <td>
                        @Html.ActionLink("Tạo mới", "Create", null, new { @class = "btn btn-success" })
                    </td>
                    <td style="padding-left:30px">
                        Tìm Bác sĩ: <input type="text" name="SearchString" />
                        <input type="submit" value="Tìm kiếm" class="btn btn-info" style="color:white"/>
                    </td>
                </tr>
            </table>
        }
    </div>
    <table class="table table-hover table-striped table-bordered">
        <tr>
            <th>
                Id
            </th>
            <th>
                Tên Bác sĩ
            </th>
            <th>
                Số điện thoại
            </th>
            <th>Chức năng Sửa - Xóa</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdDoctor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameDoctor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneDoctor)
                </td>
                <td style="color:white">
                    @Html.ActionLink("Sửa", "Edit", new { id = item.IdDoctor }, new { @class = "btn btn-warning", style = "color: white" }) |
               
                    @Html.ActionLink("Xóa", "Delete", new { id = item.IdDoctor }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
</div>