@model DoAn_CNPM.Models.Patient

@{
    ViewBag.Title = "CHI TIẾT BỆNH NHÂN";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="f-detail">
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="~/Patients/Index">Bệnh nhân</a></li>
                <li class="breadcrumb-item active" aria-current="page">Chi tiết</li>
            </ol>
        </nav>
    </div>
    <div class="tabular--wrapper">
        <div class="table-container">
            <h2 class="h2--title">@ViewBag.Title </h2>
            <hr />
            <dl class="row">
                <dt class=" col-sm-4">
                    Họ và tên:
                </dt>

                <dd class=" col-sm-8">
                    @Html.DisplayFor(model => model.FullName)
                </dd>

                <dt class=" col-sm-4">
                    Giới tính:
                </dt>

                <dd class=" col-sm-8">
                    @Html.DisplayFor(model => model.Gender)
                </dd>

                <dt class=" col-sm-4">
                    Số điện thoại
                </dt>

                <dd class=" col-sm-8">
                    @Html.DisplayFor(model => model.Phone)
                </dd>

                <dt class=" col-sm-4">
                    Ngày sinh
                </dt>

                <dd class=" col-sm-8">
                    @Model.DOB.Value.ToString("dd-MM-yyyy")
                </dd>

                <dt class=" col-sm-4">
                    Địa chỉ
                </dt>

                <dd class=" col-sm-8">
                    @Html.DisplayFor(model => model.Address)
                </dd>

            </dl>
        </div>
    </div>

    <div style="text-align:center; padding: 8px">
        <a href="@Url.Action("Edit", new { id = Model.PatientId })" class="btn btn-edit"><i class="fa-solid fa-pen-to-square"></i></a>
    </div>
</div>